venv/
.venv/
.vscode/
__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
media/
staticfiles/
.env
*.sqlite3
**/migrations/*.pyc
**/migrations/__pycache__/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*~